<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
  </head>
  <body>
    <h1>Karan Kushwaha</h1>

    <h1>Welcome back, <%= user.name %></h1>
    <h2>Your Email ID is <%= user.email %></h2>
    <ul>
      <% user.fruits.forEach((items)=> { %>
      <li><%= items %></li>
      <% }) %>
    </ul>
  </body>
</html>
